[submodule "credis-server"]
	path = credis-server
	url = git@github.com:cahyasetya/credis-server.git

[submodule "credis-client"]
	path = credis-client
	url = git@github.com:cahyasetya/credis-client.git
[submodule "credis-common"]
	path = credis-common
	url = git@github.com:cahyasetya/credis-common.git
